<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chris Beaumont</title>
    <meta name="author" content="Chris Beaumont">


    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|PT+Serif:400,700' rel='stylesheet' type='text/css'>

    <link href="assets/normalize.css" rel="stylesheet" type="text/css">
    <link href="assets/default.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container">

        <h1>Chris Beaumont</h1>
        <div id="about">
            <p>
                I am a Software Engineer at <a href="http://counsyl.com">Counsyl</a>, where I build tools that help people understand their genetic information. Prior to this, I was a software engineer at <a href="http://www.cfa.harvard.edu"> Harvard's Center for Astrophysics</a>, where I built tools like <a href="http://glueviz.org">Glue</a> to visualize data from the James Webb Space Telescope. I received my PhD in astronomy from the University of Hawaii's <a href="http://www.ifa.hawaii.edu"> Institute for Astronomy</a> in 2013.
            <p>
            You can find me on <a href="https://twitter.com/BeaumontChris">Twitter</a> or <a href="https://github.com/ChrisBeaumont">GitHub</a>, or take a look at my <a href="chris_beaumont_resume.pdf">Resume</a> or
            <a href="cv.pdf">C.V.</a>

        </div>

        <div class="section">
            <h2 class="section-header">Open Software Projects</h2>
            <div class="section-body">
                <ul>
                    {% for item in software %}
                    <li>
                        <a class="section-item-label" href="{{item.url}}">{{item.title}} </a>
                        <br>{{item.description}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="section-header">Essays and Data Visualization</h2>
            <div class="section-body">
                <ul>
                    {% for item in writing %}
                    <li>
                        <a class="section-item-label" href="{{item.url}}">{{item.title}} </a>
                        <br>{{item.about}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="section">
            <h2 class="section-header">Press Coverage</h2>
            <div class="section-body">
                <ul>
                    {% for item in press %}
                    <li>
                        <a class="section-item-label" href="{{item.url}}">{{item.title}} </a>
                        <br>{{item.publication}} | {{item.date}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="section-header">Publications</h2>
            <div class="section-body">
                <ul>
                    {% for item in papers + collaborations %}
                    <li>
                        <a class="section-item-label" href="{{item.url}}">{{item.title}} </a>
                        <br><span class="author">{{item.authors}}</span>
                        <br><span class="bib">{{item.bib}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m
)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36536575-1', 'chrisbeaumont.org');
  ga('send', 'pageview');

  </script>

</body>

</html>
